body{
    box-sizing: border-box;
}
/* header start */
.header{
    display: flex;
    overflow: hidden;
    justify-content: space-around;
}


.searchBar{
    display: flex;
    align-items: flex-start;
    width: 50%;
    max-width: 600px;
}

.intputElement{
    width: 80%;
    border: 1px solid black;
    border-right: none;
    border-radius: 4px 0 0 4px;
    padding: 10px;
    cursor: pointer;
}
#search{
    padding: 10px;
    color: rgb(83, 82, 82);
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    border-left: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.youtubeIcon{
    display: flex;
    width: 25%;
    justify-content: flex-start;
}
#youtubeIcon{
    color: red;

}
.YouTubeTitle{
    position: relative;
    font-size: 1.5em;
    left: 5px;
    bottom: 30px;
}

.rightPart{
    display: flex;
    column-gap: 20px;
    width: 25%;
    justify-content:flex-end;
}

@media screen and (max-width:600px) {
    .rightPart{
        display: none;
    }
}
/* 
#mic{
    border: 1px solid rgb(216, 213, 213);
    padding: 10px 10px;
} */

/* Header ends */

/* options starts */
.options{
    margin-left: 10%;
    display: flex;
    
    column-gap: 30px;
    justify-content:flex-start;
    object-fit: cover;
    height: 35px;
}

.optionContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(241, 237, 237);
    border-radius: 15%;
    height: 100%;
}

.options .text{
    position: relative;
    font-size: 1.2em;
    font-weight:200;
    /* width: 20px; */
    margin: 5px 5px;
}

.options .first{
    background-color: black;
    color: white;
}


/* options ends */


/* videos content part start*/
.main{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
}

.videoContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
    justify-content: start;
}
.videos{
    width: 300px;
    height: 200px;
    border-radius: 8%;
    object-fit: cover;
    overflow: hidden;

}

.content{
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 10px;
}

.textContent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
}

.icon{
    width: 40px;
    height: 40px;
    border-radius: 40%;
    padding: 5px;
}
.title{
    position: relative;
    bottom: 10px;
}

.description{
    position: relative;
    bottom: 40px;
}

/* videos content part ends*/
